<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="TestCS" connectionString="Local" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TestAppSetting1" value="LocalValue1" />
    <add key="TestAppSetting2" value="LocalValue2" />
    <add key="TestAppSetting3" value="LocalValue3" />
    <add key="TestAppSetting4" value="LocalValue4" />
    <add key="TestAppSetting5" value="LocalValue5" />
    <add key="TestAppSetting6" value="LocalValue6" />
    <add key="TestAppSetting7" value="LocalValue7" />
    <add key="TestAppSetting8" value="LocalValue8" />
    <add key="TestAppSetting9" value="LocalValue9" />
    <add key="TestAppSetting10" value="LocalValue10" />
    <add key="TestAppSetting11" value="LocalValue11" />
    <add key="TestAppSetting12" value="LocalValue12" />
    <add key="TestAppSetting13" value="LocalValue13" />
    <add key="TestAppSetting14" value="LocalValue14" />
    <add key="TestAppSetting15" value="LocalValue15" />
    <add key="TestAppSetting16" value="LocalValue16" />
    <add key="TestAppSetting17" value="LocalValue17" />
    <add key="TestAppSetting18" value="LocalValue18" />
    <add key="TestAppSetting19" value="LocalValue19" />
    <add key="TestAppSetting20" value="LocalValue20" />
    <add key="TestAppSetting21" value="LocalValue21" />
    <add key="TestAppSetting22" value="LocalValue22" />
    <add key="TestAppSetting23" value="LocalValue23" />
    <add key="TestAppSetting24" value="LocalValue24" />
    <add key="TestAppSetting25" value="LocalValue25" />
    <add key="TestAppSetting26" value="LocalValue26" />
    <add key="TestAppSetting27" value="LocalValue27" />
    <add key="TestAppSetting28" value="LocalValue28" />
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
